<html>
    <head>
        <title>music</title>
        <script type="text/javascript" src="/static/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/static/jquery.jplayer.js"></script>
        <script type="text/javascript" src="/static/jquery.tablesorter.js"></script>
        <script type="text/javascript" src="/static/jquery-ui-1.8rc3.custom.min.js"></script>
        <script type="text/javascript" src="/static/jquery.livequery.js"></script>
        <script type="text/javascript" src="/static/json2.js"></script>
        <script type="text/javascript" src="/static/scatterbrainz.js?2"></script>
        <script type="text/javascript" src="/static/jquery.tree.js"></script>
        <script type="text/javascript" src="/static/jquery.hotkeys.js"></script>
        <script type="text/javascript" src="/static/splitter.js"></script>
        <script type="text/javascript" src="/static/jsTreePlugins/jquery.tree.hotkeys.js"></script>
        <script type="text/javascript" src="/static/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
        <script type="text/javascript" src="/static/fancybox/jquery.easing-1.3.pack.js"></script>
        <script type="text/javascript" src="/static/fancybox/jquery.mousewheel-3.0.2.pack.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/scatterbrainz.css?2" />
        <link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.8rc3.custom.css" />
        <link rel="stylesheet" type="text/css" href="/static/fancybox/jquery.fancybox-1.3.1.css" />
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    </head>
<body>

<div id="leftPane" class="browsePane">
    <div id="search">
        <div id="ditchSearchContainer">
            <button id="ditchSearch">Clear search</button>
        </div>
        <input type="text" id="searchInput">
        <div id="goSearchContainer">
            <button id="goSearch">Search</button>
        </div>
    </div>
    <div id="switchBrowseMode"  class="transparent">
        <div id="artistModeButton" class="selectedBrowseMode">ARTISTS</div>
        <div id="playlistModeButton">PLAYLISTS</div>
    </div>
    <div id="browseContainer" class="expandHeightToFitBrowser transparent" expandHeightOffsetPx="70">
        <div id="browser" class="noBrowserFocusIndicator" tabindex="100"></div>
        <div id="searchBrowser" class="noBrowserFocusIndicator" tabindex="101"></div>
    </div>
    <div id="playlistContainer" style="display: none;" class="expandHeightToFitBrowser transparent" expandHeightOffsetPx="70">
        <div id="playlistBrowser" class="noBrowserFocusIndicator" tabindex="102"></div>
    </div>
</div>
<div class="jp-playlist-player browsePane">
    <div id="jquery_jplayer"></div>
    <div id="playlistURcorner"></div>
    <div class="playlistHeadDiv noBrowserFocusIndicator">
        <table id="playlistHeadTable" class="playlistTable" border="0" cellspacing="0" cellpadding="0">
            <thead class="playlistHead">
                <tr class="playlistHeadRow">
                    <th class='artist'>Artist</th>
                    <th class='title'>Title</th>
                    <th class='album'>Album</th>
                    <th class='tracknum'>Track</th>
                    <th class='length'>Length</th>
                    <th class='bitrate'>Bitrate</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="rightPane">
        <div class="jp-playlist noBrowserFocusIndicator transparent expandHeightToFitBrowser" expandHeightOffsetPx="92" tabindex="102">
            <table id="playlist" class="playlistTable" border="0" cellspacing="0" cellpadding="0">
                <thead class="playlistHead">
                    <tr class="playlistHeadRow">
                        <th class='artist'></th>
                        <th class='title'></th>
                        <th class='album'></th>
                        <th class='tracknum'></th>
                        <th class='length'></th>
                        <th class='bitrate'></th>
                    </tr>
                </thead>
                <tbody id="playlistbody"></tbody>
            </table>
        </div>
        <div id="playlistControls" class="transparent expandHeightToFitBrowser" expandHeightOffsetPx="67">
            <div id="playlistControlSave">Save</div>
            <div id="playlistControlClear">Clear</div>
            <div id="playlistControlTruncatePlayed">Clear played</div>
            <div id="playlistControlTruncateUnplayed">Clear unplayed</div>
            <div id="playlistControlRandomize">Randomize</div>
        </div>
    </div>
</div>

<!-- leave this div for splitbar so it doesn't interfere w/ jstree-marker -->
<div id="browsePaneSplitter" class="browsePane" style="z-index:2 !important;"></div>

<div id="nowPlayingContainer" class="hidden transparent window">
    <div id="nowPlayingArtistContainerContainer">
        <div id="nowPlayingArtistContainer">
            <div id="nowPlayingArtistHeader" class="nowPlayingHeader"></div>
            <div id="nowPlayingArtistImageContainer"></div>
            <div id="nowPlayingArtistInfo"></div>
            <div id="nowPlayingArtistBio" class="expandHeightToFitBrowser" expandheightoffsetpx="70"></div>
        </div>
    </div>
    <div id="nowPlayingAlbumContainerContainer">
        <div id="nowPlayingAlbumContainer">
            <div id="nowPlayingAlbumHeader" class="nowPlayingHeader"></div>
            <a id="nowPlayingAlbumArtImageLink" class="albumArt">
                <div>
                    <img id="nowPlayingAlbumArtImage" class="albumArt" />
                </div>
            </a>
            <div id="nowPlayingAlbumInfo"></div>
            <div id="nowPlayingAlbumSummary" class="expandHeightToFitBrowser" expandheightoffsetpx="70"></div>
        </div>
    </div>
    <div id="nowPlayingTrackContainerContainer">
        <div id="nowPlayingTrackContainer">
            <div id="nowPlayingTrackHeader" class="nowPlayingHeader"></div>
            <div id="nowPlayingTrackLyrics" class="expandHeightToFitBrowser" expandheightoffsetpx="70"></div>
        </div>
    </div>
</div>

<div id="artistBrowserContainer" class="hidden transparent window">
    <div id="artistBrowserLeftContainerContainer">
        <div id="artistBrowserLeftContainer">
            <div id="artistBrowserArtistHeader" class="nowPlayingHeader"></div>
            <div id="artistBrowserArtistImageContainer"></div>
            <div id="artistBrowserArtistInfo"></div>
            <div id="artistBrowserArtistBio" class="expandHeightToFitBrowser" expandheightoffsetpx="70"></div>
        </div>
    </div>
    <div id="artistBrowserMiddleContainerContainer">
        <div id="artistBrowserMiddleContainer">
            <div id="artistBrowserMiddleHeader" class="nowPlayingHeader"></div>
            <div id="artistBrowserMiddleContent">
                <div id="artistBrowserArtistRelationshipContainer">
                    <div id="artistBrowserRelationships"></div>
                </div>
                <div id="artistBrowserAlbumListContainer">
                    <b>Albums:</b>
                    <div id="artistBrowserAlbumControls">
                        <input type="checkbox" class="albumToggle" id="albumCheckbox" checked>
                        <label for="albumCheckbox">Album (<span id="albumCount">0</span>)</label>
                        <input type="checkbox" class="albumToggle" id="epCheckbox" checked>
                        <label for="epCheckbox">EP (<span id="epCount">0</span>)</label>
                        <input type="checkbox" class="albumToggle" id="liveCheckbox" checked>
                        <label for="liveCheckbox">Live (<span id="liveCount">0</span>)</label>
                        <input type="checkbox" class="albumToggle" id="compilationCheckbox" checked>
                        <label for="compilationCheckbox">Comp. (<span id="compilationCount">0</span>)</label>
                        <input type="checkbox" class="albumToggle" id="otherCheckbox" checked>
                        <label for="otherCheckbox">Other (<span id="otherCount">0</span>)</label>
                    </div>
                    <div id="artistBrowserAlbumList" class="expandHeightToFitBrowser" expandheightoffsetpx="70"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="artistBrowserRightContainerContainer">
        <div id="artistBrowserRightContainer">
            <div id="artistBrowserRightHeader" class="nowPlayingHeader"></div>
            <div id="artistBrowserRightContent" class="expandHeightToFitBrowser" expandheightoffsetpx="70">
                <div id="artistBrowserSimilarArtists">
                    <b>Similar Artists:</b>
                    <div id="artistBrowserSimilarArtistsList"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="shopContainer" class="hidden transparent window">
    <div id="shopSearch">
        <img width="90%" src="http://i.imgur.com/yst4V.jpg" />
    </div>
    <div id="shopSearchResults"></div>
    <span id="shopDownloadingLabel">In Progress</span>
    <div id="shopDownloading"></div>
    <span id="shopDoneLabel">Recently Completed</span>
    <div id="shopDone"></div>
</div>

<div id="navigation" class="transparent">
   <button id="playlistNav" class="selectedNav screen">Playlist</button>
   <button id="nowPlayingNav" class="screen">Now Playing</button>
   <button id="artistNav" class="screen">Artist</button>
   <button id="shopNav" class="screen">Shop</button>
   <button id="logout">Logout</button>
   <span id="welcome">Welcome back, <b>${c.username}</b>!</span>
   <span id="ajaxProgress">Working...</span>
</div>

<div id="dashboard" class="transparent">

    <div class="dashboardEntity left">
        <img class="dashboardIcon" src="/static/icons/guitar.png" />
        <div class="dashboardMarqueeContainer">
            <div id="playingArtist" class="dashboardMarquee"></div>
        </div>
    </div>

    <div class="dashboardEntity left">
        <img class="albumArt dashboardIcon" src="/static/icons/vinyl.png" />
        <div class="dashboardMarqueeContainer">
            <div id="playingAlbum" class="dashboardMarquee"></div>
        </div>
    </div>

    <div class="dashboardEntity left">
        <img class="dashboardIcon" src="/static/icons/note3.png" />
        <div class="dashboardMarqueeContainer">
            <div id="playingTrack" class="dashboardMarquee"></div>
        </div>
    </div>

    <div id="controlsDashboard" class="left">
        <div id="player_container">
            <ul id="icons" class="left ui-widget ui-helper-clearfix">
                <li id="prev" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-seek-prev"></span></li>
                <li id="play" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-play"></span></li>
                <li id="pause" class="hidden ui-state-default ui-corner-all"><span class="ui-icon ui-icon-pause"></span></li>
                <li id="next" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-seek-next"></span></li>
                <li id="volume-min" class="hidden ui-state-default ui-corner-all"><span class="ui-icon ui-icon-volume-off"></span></li>
                <li id="volume-max" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-volume-on"></span></li>
            </ul>
            <!-- Sliders -->
            <div id="bars_holder" class="left">
                <div id="sliderPlayback"></div>
                <div id="loaderBar"></div>
                <div id="sliderVolume"></div>
            </div>
            <div id="playModeContainer" class="left" style="position: relative;">
                <button id="playMode">Consecutive</button>
                <div id="playModeMenu" class="hidden">
                    <input type="radio" id="playlistNothing" name="repeat" checked="checked" /><label for="playlistNothing">Consecutive</label>
                    <input type="radio" id="playlistSimilarTrack" name="repeat" /><label for="playlistSimilarTrack">Similar Track</label>
                    <input type="radio" id="playlistRandomTrack" name="repeat" /><label for="playlistRandomTrack">Random track</label>
                    <input type="radio" id="playlistRandomAlbum" name="repeat" /><label for="playlistRandomAlbum">Random album</label>
                    <input type="radio" id="playlistRooTrack" name="repeat" /><label for="playlistRooTrack">'Roo track</label>
                    <input type="radio" id="playlistRooAlbum" name="repeat" /><label for="playlistRooAlbum">'Roo album</label>
                    <input type="radio" id="playlistRepeat" name="repeat" /><label for="playlistRepeat">Repeat playlist</label>
                </div>
            </div>
            <div id="abrepeat" class="left">
                <button id="arepeat">A</button>
                <button id="brepeat" style="display:none;">B</button>
                <button id="cancelrepeat" style="display:none;">X</button>
            </div>
        </div>
    </div>
    <div id="scrobbleArtist" style="display: none;"></div>
    <div id="scrobbleTrack" style="display: none;"></div>
    <div id="scrobbleDuration" style="display: none;"></div>
</div>

</body>
</html>
