<html>
<head>
<title>Register</title>
<script type="text/javascript" src="/static/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/register.js"></script>
</head>
<body>
  Please register:<br /><br />
  <form action="${h.url('/login_handler')}" method="POST">
    user <input type="text" id="login" name="login" /><br />
    pass <input type="password" id="password" name="password" />
    <input id="code" type="hidden" name="code" value="${c.code}" />
    <br />
  </form>
  <button id="submit">Register</button>
</body>
</html>

